  <div class="new-post">
    <%= render partial: 'posts/post_author', locals: {post: @post} %>
    <%= form_for @post do |f| %>
    <div class="form-group">
      <%= f.text_area :content, placeholder: "What's happening in space?", class: "form-control input-lg" %>
    </div>

    <div class="form-group">
      <%= f.file_field :image_url, placeholder: "Image link", class: "form-control input-lg" %>
    </div>

    <div class="form-group">
      <%= f.text_field :video_url, placeholder: "Video link", class: "form-control input-lg" %>
    </div>

      <%= f.submit :post, class: "btn btn-default btn-lg" %>
    <% end %>
    <div class="media-preview"></div>
  </div>
