<div class="new-post">
  <%= render partial: 'posts/post_author', locals: {post: @post} %>
  <%= form_for @post do |f| %>
  <div class="form-group">
    <%= f.text_area :content, placeholder: "What's happening?", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.text_field :image_url, placeholder: "Paste image link", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.text_field :video_url, placeholder: "Paste video link", class: "form-control" %>
  </div>

    <%= f.submit :post, class: "btn btn-md" %>
  <% end %>
</div>
