<div class="post">
  <%= render partial: 'posts/post_author', locals: {post: post} %>
  <h4><%= post.content %></h4>
  <%= render_image(post) %>
  <%= render_video(post) %>
  <%= render 'comments/form' %>
  <%= render partial: 'comments/comment', collection: post.comments %>
</div>
