<div class="post">
  <%= render partial: 'posts/post_author', locals: {post: post} %>
  <h4><%= post.content %></h4>
  <div class="media">
    <%= render_image(post) %>
    <%= render_video(post) %>
  </div>
  <div class='comment-all'>
    <%= render partial: 'comments/comment', collection: post.comments %>
    <%= render partial: 'comments/form', locals: {post: post} if @current_user %>
  </div>
</div>
